accelerate==0.34.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.12.1
asn1crypto==1.5.1
async-timeout==5.0.1
attrs==25.4.0
bitsandbytes==0.42.0
blinker==1.9.0
boto3==1.42.66
botocore==1.42.66
cachetools==6.2.6
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.1.8
cloudpickle==3.1.1
cryptography==46.0.5
datasets==2.21.0
dill==0.3.8
exceptiongroup==1.3.1
fastapi==0.115.8
filelock==3.19.1
frozenlist==1.8.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
hf-xet==1.4.0
huggingface_hub==0.36.2
idna==3.11
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.16
narwhals==2.18.0
networkx==3.2.1
numpy==1.26.4
packaging==25.0
pandas==2.3.3
peft==0.12.0
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.11.0
pyOpenSSL==25.3.0
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.36.2
regex==2026.1.15
requests==2.32.3
rpds-py==0.27.1
s3transfer==0.16.0
safetensors==0.7.0
scipy==1.13.1
six==1.17.0
smmap==5.0.3
snowflake==1.8.0
snowflake-connector-python==4.0.0
snowflake-snowpark-python==1.45.0
snowflake._legacy==1.0.2
snowflake.core==1.8.0
sortedcontainers==2.4.0
starlette==0.45.3
streamlit==1.50.0
sympy==1.14.0
tenacity==9.1.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.4.0
tomlkit==0.14.0
torch==2.2.2
tornado==6.5.5
tqdm==4.67.3
transformers==4.44.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==1.26.20
uvicorn==0.34.0
xxhash==3.6.0
yarl==1.22.0
